/* Fondo general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: center;
}

/* Títulos */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #764ba2;
    box-shadow: 0 0 5px rgba(118,75,162,0.4);
}

/* Botones */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #764ba2;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #667eea;
}

/* Botón pequeño */
button#irRegistro,
button#volverLogin {
    background: transparent;
    color: #764ba2;
    margin-top: 10px;
}

button#irRegistro:hover,
button#volverLogin:hover {
    text-decoration: underline;
}

/* Separador */
hr {
    margin: 20px 0;
}

/*Ocultar el registro*/
.oculto {
    display: none;
}
.oculto{
    display:none;
}

#apiData img{
    margin-top:15px;
    width:300px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}